<section class="vh-100" style="background-color: #eee;">
    <div class="container h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-lg-12 col-xl-11">
                <div class="card text-black" style="border-radius: 25px;">
                    <div class="card-body p-md-1">
                        <div class="row justify-content-center">
                            <div class="col-md-10 col-lg-6 col-xl-5 order-2 order-lg-1">
                                <p class="text-center h1 fw-bold mb-1 mx-1 mx-md-4 mt-1">Edit Banner</p>
                                <form class="mx-1 mx-md-4" id="myform1" action="/admin/edit-banner" method="post"
                                    enctype="multipart/form-data">
                                    <input type="text" name="id" value="{{banner._id}}" class="invisible">
                                    <div class="d-flex flex-row align-items-center mb-1">
                                        <div class="form-outline flex-fill mb-0">
                                            <input type="text" name="product" class="form-control"
                                                value="{{banner.product.modelname}}" id="" disabled>
                                        </div>
                                    </div>
                                    <div class="d-flex flex-row align-items-center mb-1">
                                        <div class="form-outline flex-fill mb-0">
                                            <label class="form-label" for="form3Example1c"> Banner Title</label>
                                            <input type="text" id="banner_title" class="form-control"
                                                value="{{banner.title}}" name="banner_title" />
                                        </div>
                                    </div>
                                    <div class="d-flex flex-row align-items-center mb-1">
                                        <div class="form-outline flex-fill mb-0">
                                            <label class="form-label" for="form3Example1c"> Banner Subtitle</label>
                                            <input type="text" id="banner_subtitle" class="form-control"
                                                value="{{banner.subtitle}}" name="banner_subtitle" />
                                        </div>
                                    </div>
                                    <label for="formFile" class="form-label">UPLOAD IMAGES</label>
                                    <div class="row ml-auto">
                                        <input class="form-control col-8" type="file" id="formFile1" name="image">
                                        <img class="col-3" style="width:2.5rem ;" id="imageView1"
                                            src="/images/banner-image/{{banner._id}}.jpg">
                                    </div>
                                    <div class="d-flex justify-content-center mx-4 mb-1 mb-lg-4">
                                        <button type="submit" class="btn btn-primary btn-lg">Add</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<script>
    formFile1.onchange = evt => {
        const [file] = formFile1.files
        if (file) {
            imageView1.src = URL.createObjectURL(file)
        }
    }


        $("#myform1").validate({
            rules: {
                banner_title: {
                    required: true,
                },
                banner_subtitle: {
                    required: true,
                },
                 image: {
                    required: true,
                }
            }
        })


</script>
<style>
    .error {
        color: crimson;
    }
</style>