<section>
    <div class="container ">
        <h4>Orders</h4>
        <table class="table mt-5 border border-dark" id="userTable">
            <thead>
                <tr>
                    <th scope="col">customer</th>
                    <th scope="col">products</th>
                    <th scope="col">Quantity</th>
                    <th scope="col">Total Price</th>
                    <th scope="col">Payment Method</th>
                    <th scope="col">Payment Status</th>
                    <th scope="col">Delivery Status</th>
                    <th scope="col">Order Date</th>
                </tr>
            </thead>
            <tbody>
                {{#each orders}}
                <tr>
                    <td>{{this.user.name}}</td>
                    <td>{{#each this.orderItems}}{{this.product.modelname}} <br>{{/each}}</td>
                    <td>{{#each this.orderItems}}{{this.quantity}}<br>{{/each}}</td>
                    <td>{{this.totalPrice}}</td>
                    <td>{{this.paymentDetails}}</td>
                    <td>{{#if this.orderStatus}}Approved{{else}}Pending{{/if}}</td>
                    <td><button onclick="showUpdate('{{this._id}}')" style="border:1px solid;">{{this.deliveryStatus}}</button>
                        <div id="modalDiv{{this._id}}" style="display:none;">
                            <button type="button" class="btn btn-primary col mx-auto"
                                data-bs-toggle="modal" data-bs-target="#m{{this._id}}">
                                Update
                            </button>

                            <!-- Modal -->
                            <div class="modal fade" id="m{{this._id}}" tabindex="-1" aria-labelledby="exampleModalLabel"
                                aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header" style="padding-top: 5px;padding-bottom: 5px;">
                                            <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                aria-label="Close">
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <form class="mx-1 mx-md-4" id="shippinform{{this._id}}"
                                                action="/admin/changeShipping/{{this._id}}" method="post">
                                                <div class="d-flex flex-row align-items-center mb-1">
                                                    <div class="form-outline flex-fill mb-0">
                                                        <label class="form-label" for="form3Exsdsdample1c">
                                                            Change Delivery Status</label>
                                                        <select name="shipping"  id="select{{this._id}}">
                                                            <option value="processing">processing</option>
                                                            <option value="shipped">Shipped</option>
                                                            <option value="OutForDelivery">Out For Delivery</option>
                                                            <option value="Delivered">Delivered</option>
                                                        </select>
                                                    </div>
                                                </div

                                                <div class="d-flex justify-content-center mx-4 mb-1 mb-lg-4">
                                                    <button type="submit"
                                                        class="btn btn-primary btn-lg" form="shippinform{{this._id}}">Edit</button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </td>
                    <td>{{this.createdAt}}</td>
                </tr>
                {{/each}}
            </tbody>

        </table>
    </div>
</section>
<script>

    $(document).ready(function () {
        $('#userTable').DataTable();
    });

    const showUpdate = (id) => {
        let curr = document.getElementById(`modalDiv${id}`).style.display
        if(curr === '')
        document.getElementById(`modalDiv${id}`).style.display = "none"
        else
        document.getElementById(`modalDiv${id}`).style.display = ""
    }


</script>