<div class="container-fluid pt-5">
    <div class="row px-xl-5">
        <div class="col-2">
            <!-- Button trigger modal -->
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                Add Address
            </button>

            <!-- Modal -->
            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header" style="padding-top: 5px;padding-bottom: 5px;">
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <form class=" mx-auto border p-3" action="/address/profile" method="post" id="addAddress"
                                enctype="multipart/form-data">
                                <h4 class="font-weight-semi-bold">Add New Address</h4>
                                <div class="row">
                                    <div class="col-md-6 form-group">
                                        <label>Name</label>
                                        <input class="form-control" type="text" name="name" id="name">
                                    </div>
                                    <div class="col-md-6 form-group">
                                        <label>Mobile No</label>
                                        <input class="form-control" type="text" name="number" id="number">
                                    </div>
                                    <div class="col-md-6 form-group">
                                        <label>Address Line 1</label>
                                        <input class="form-control" type="text" name="address1" id="address1">
                                    </div>
                                    <div class="col-md-6 form-group">
                                        <label>Address Line 2</label>
                                        <input class="form-control" type="text" name="address2" id="address2">
                                    </div>
                                    <div class="col-md-6 form-group">
                                        <label>District</label>
                                        <input class="form-control" type="text" name="district" id="district">
                                    </div>
                                    <div class="col-md-6 form-group">
                                        <label>State</label>
                                        <input class="form-control" type="text" name="state" id="state">
                                    </div>
                                    <div class="col-md-6 form-group">
                                        <label>Country</label>
                                        <input class="form-control" type="text" name="country" id="country">
                                    </div>
                                    <div class="col-md-6 form-group">
                                        <label>PIN Code</label>
                                        <input class="form-control" type="number" name="pinCode" id="pinCode">
                                    </div>
                                </div>

                                <!-- Submit button -->
                                <div class="col mt-2">
                                    <button type="submit" class="btn btn-primary btn-block  mx-auto">Add
                                        Address</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-10 row">
            {{#each address}}
            <div class="col-6">
                <div class="panel-body bio-graph-info">
                    <h4>Address 1</h4>
                    <div class="row">
                        <div class="col">
                            <div class="bio-row">
                                <p><span>Name </span>: {{this.name}}</p>
                            </div>
                            <div class="bio-row">
                                <p><span>Mobile No</span>: {{this.number}}</p>
                            </div>
                            <div class="bio-row">
                                <p><span>Address Line 1</span>: {{this.address1}}</p>
                            </div>
                            <div class="bio-row">
                                <p><span>Address Line 2</span>: {{this.address2}}</p>
                            </div>
                            <div class="bio-row">
                                <p><span>District</span>: {{this.district}}</p>
                            </div>
                            <div class="bio-row">
                                <p><span>State</span>: {{this.state}}</p>
                            </div>
                            <div class="bio-row">
                                <p><span>Country</span>: {{this.country}}</p>
                            </div>
                            <div class="bio-row">
                                <p><span>PIN Code</span>: {{this.pinCode}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {{/each}}
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        $('#addAddress').validate({
            rules: {
                name: {
                    required: true,
                },
                number: {
                    required: true,
                },
                address1: {
                    required: true,
                },
                address2: {
                    required: true,
                },
                district: {
                    required: true,
                },
                state: {
                    required: true,
                },
                country: {
                    required: true,
                },
                pinCode: {
                    required: true,
                }
            }
        })
    })
</script>