<!-- Navbar Start -->
<div class="container-fluid mb-5">
    <div class="row px-xl-5">
        <div class="col-lg-9 mx-auto">
            <div id="header-carousel" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner">
                    {{#each banners}}
                    <div class="carousel-item {{#if @first}} active {{/if}}" style="height: 410px;">
                        <img class="img-fluid product_img" src="/images/banner-image/{{this._id}}.jpg" alt="Image">
                        <div class="carousel-caption d-flex flex-column align-items-center justify-content-center">
                            <div class="p-3" style="max-width: 700px;">
                                <h4 class="text-light text-uppercase font-weight-medium mb-3">{{this.banner_subtitle}}
                                </h4>
                                <h3 class="display-4 text-white font-weight-semi-bold mb-4">{{this.banner_title}}</h3>
                                <a href="/product-details/{{this.product._id}}" class="btn btn-light py-2 px-3">Shop
                                    Now</a>
                            </div>
                        </div>
                    </div>
                    {{/each}}
                </div>
                <a class="carousel-control-prev" href="#header-carousel" data-slide="prev">
                    <div class="btn btn-dark" style="width: 45px; height: 45px;">
                        <span class="carousel-control-prev-icon mb-n2"></span>
                    </div>
                </a>
                <a class="carousel-control-next" href="#header-carousel" data-slide="next">
                    <div class="btn btn-dark" style="width: 45px; height: 45px;">
                        <span class="carousel-control-next-icon mb-n2"></span>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>

<!-- Products Start -->
<div class="container-fluid pt-5">
    {{!-- <div class="text-center mb-4">
        <h2 class="section-title px-5"><span class="px-2">Trendy Products</span></h2>
    </div> --}}
    <div class="row px-xl-5 pb-3">
        {{#each product}}
        <div class="col-lg-3 col-md-4 col-sm-6 col-10 pb-1">
            <div class="card product-item border-0 mb-4">
                <div class="card-header product-img position-relative overflow-hidden bg-transparent border p-0">
                    <img class="img-fluid w-100" style="width:100%;object-fit:cover;" src="images/product-image/{{this._id}}1.jpg" alt="">
                </div>
                <div class="card-body border-left border-right text-center p-0 pt-4 pb-3">
                    <h6 class="text-truncate mb-3">{{this.brand}} {{this.modelname}}</h6>
                    <div class="d-flex justify-content-center">
                        <h6>Rs.{{this.price}}</h6>
                        <h6 class="text-muted ml-2"><del>Rs.{{this.price}}</del></h6>
                    </div>
                </div>
                <div class="card-footer d-flex justify-content-between bg-light border">
                    <a href="/product-details/{{this._id}}" class="btn btn-sm text-dark p-0"><i
                            class="fas fa-eye text-primary mr-1"></i>View Detail</a> {{#if ../session.loggedin}}
                    <button onclick="addToCart('{{this._id}}')" class="btn btn-sm text-dark p-0"><i
                            class="fas fa-shopping-cart text-primary mr-1"></i>Add To Cart</button>
                            {{else}}
                            <a href="/login" class="btn btn-sm text-dark p-0"><i
                            class="fas fa-shopping-cart text-primary mr-1"></i>Add To Cart</a>
                            {{/if}}
                </div>
            </div>
        </div>
        {{/each}}
    </div>
</div>
<!-- Products End -->

<!-- Back to Top -->
<a href="#" class="btn btn-primary back-to-top"><i class="fa fa-angle-double-up"></i></a>


<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
<script src="lib/easing/easing.min.js"></script>
<script src="lib/owlcarousel/owl.carousel.min.js"></script>

<!-- Contact Javascript File -->
<script src="mail/jqBootstrapValidation.min.js"></script>
<script src="mail/contact.js"></script>

<!-- Template Javascript -->
<script src="js/main.js"></script>